@using Cloud.PPATSApp.Core;
@using Cloud.PPATSApp.Models.ViewModels;
@{
    //var objEmployeeInfo = TempDataExtensions.Get<EmployeeInfoViewModel>(TempData, "empInfo") as EmployeeInfoViewModel;
}
@model Cloud.PPATSApp.Models.ViewModels.EmployeeInfoViewModel
<script type="text/javascript">
   
    $(document).ready(function () {
        $("#txtempMobile").keydown(function (event) {
            if (event.shiftKey) {
                event.preventDefault();
            }
            if (event.keyCode == 46 || event.keyCode == 8) {
            }
            else {
                if (event.keyCode < 95) {
                    if (event.keyCode < 48 || event.keyCode > 57) {
                        event.preventDefault();
                    }
                }
                else {
                    if (event.keyCode < 96 || event.keyCode > 105) {
                        event.preventDefault();
                    }
                }
            }
        });

        @*url:'@Url.Action("CheckUsername", "Admin", new { area = "Admin" })',//  this for calling the web method function in controller.*@

        //$('#UserName').blur(function () {
        //    var url = "/Admins/CheckUserName";
        //    var name = $('#UserName').val();
        //    $.get(url, { input: name }, function (data) {
        //        if (data == "Available") {
        //            $("#result").html("<span style='color:green'>Available</span>");
        //            $("#UserName").css('background-color', '');
        //        }
        //        else {
        //            $("#result").html("<span style='color:red'>Not Available</span>");
        //            $("#UserName").css('background-color', '#e97878');
        //        }
        //    });
        //})
        $('#txtempUserName').blur(function () {
        //$('#txtempUserName').on('change', function () {
            $.ajax({
                type: "POST",
                url: "/Admin/CheckUsername",
                data:
                {
                    UserName: $("#txtempUserName").val()
                },
                cache: false,
                async: false,
                //contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function (res_data) {
                    //alert(res_data);
                    //debugger;
                    var msg = $("#lblStatus");
                    //debugger;
                    switch (res_data) {
                        case "Exists":
                            msg.show();
                            msg.css("color", "red");
                            msg.html("User Name already exists.");
                            break;
                        case "NotExists":
                            msg.show();
                            msg.css("color", "green");
                            msg.html("User Name Available");
                            break;
                    }
                   
                },
                failure: function (data) {
                    alert(data);
                }
            });
        });

        $("#txtSearchUser").autocomplete({
            source: function (request, response) {
                $.ajax({
                    type: "POST",
                    url: "/Admin/GetEmpSearchData",
                    dataType: "json",
                    cache: false,
                    async: false,
                    maxShowItems: 5,
                    minLength: 3,
                    data: {
                        searchString: $("#txtSearchUser").val()
                    },
                    success: function (data) {
                        //debugger;
                        response($.map(data, function (item) {
                            //debugger;
                            return {
                                label: item.empFirstName + ' ' + item.empLastName,
                                value: item.empFirstName + ' ' + item.empLastName,
                                empId: item.empId
                            }
                        }));

                        //console.log(data);
                    },
                    error: function (jqXhr, textStatus, errorMessage) {
                        //debugger;
                        if (jqXhr.responseText.indexOf('maxJsonLength') > -1) {
                            alert("Search results exceeds max records. Plese refine your search with more characters");
                        }
                    }
                });
            },
            minLength: 3,
            select: function (evet, ui) {
                //debugger;
                var resEmpId = ui.item.empId;
                $("#hdnEmpId").val(resEmpId);
                $("#txtEmpId").val(resEmpId);
                $("#txtSearchUser").val(ui.item.label);
                $.ajax({
                    type: "POST",
                    url: "/Admin/GetEmployeeMasterInfo",
                    dataType: "json",
                    cache: false,
                    async: false,
                    maxShowItems: 5,
                    minLength: 3,
                    data: {
                        empId: resEmpId
                    },
                    close: function (event, ui) {
                        $("#txtSearchUser").val(ui.item.label);
                    },
                    success: function (empData) {
                        //debugger;
                        $("#txtempFirstName").val(empData.empFirstName);
                        $("#txtempLastName").val(empData.empLastName);
                        $("#txtempAddress").val(empData.empAddress);
                        $("#txtempMobile").val(empData.empPhone);
                        $("#txtempEmail").val(empData.empEmail);
                        $("#txtempUserName").val(empData.empUsername);
                        $("#txtempPassword").val(empData.empPassword);


                        if (empData.isActive == 'Y') {
                            $("#chkActive").prop('checked', true);
                        }
                        else {
                            $("#chkActive").prop('checked', false);
                        }
                        var _empRoleId = empData.empRoleId;
                        $("#ddlRoles").val(_empRoleId).attr('selected', 'selected');

                        //var arrApps = empData.empAssignedApps;
                        //var pp = empData.empApplications[0];
                        for (var i = 0; i < empData.empAssignedApps.length; i++) {
                            $("#chk_" + empData.empAssignedApps[i].value).prop('checked', true);
                            //$("#chk_" + empData.empAssignedApps[i].value).prop('checked', 'checked');
                            //$("#chk_" + empData.empAssignedApps[i].value).attr('checked', 'checked');
                        }
                        //console.log(empData);
                    },
                    error: function (jqXhr, textStatus, errorMessage) {
                        //debugger;
                        //if (jqXhr.responseText.indexOf('maxJsonLength') > -1) {
                        //    alert("Search results exceeds max records. Plese refine your search with more characters");
                        //}
                    }
                });//second ajax
            }
        });

        $("#btnSave").click(function () {

            //if ($("#chk_PPAT").prop("checked") == false && $("#chk_PIG").prop("checked") == false && $("#chk_SS").prop("checked") == false)
            //    {
            //        $("#spnApplications").html(" required");
            //        return false;
            //    }
            $("form").attr("action", "/Admin/SaveUpdateEmployeeForm");
        });

        $("#btnClear").click(function () {
            $("#txtempFirstName").val('');
            $("#txtempLastName").val('');
            $("#txtempAddress").val('');
            $("#txtempMobile").val('');
            $("#txtempEmail").val('');
            $("#txtempUserName").val('');
            $("#txtempPassword").val('');
            $("#ddlRoles").val(0);
            $("#chk_PPAT").prop('checked', false);
            $("#chk_PIG").prop('checked', false);
            $("#chk_SS").prop('checked', false);
            $("#txtSearchUser").val('');
            $("#hdnEmpId").val(0);
            $("#txtEmpId").val(0);
            $("#divMsg").empty();
        });
    });//Document.ready
</script>
@using (Html.BeginForm())
{
    <table border="0">
        <tr>
            <td>
                <table border="1">
                    <tbody>
                        <tr>
                            <td>
                                <table class="tblRoundCorner" style="width:100%">
                                    <tr>
                                        <td>
                                            Search User
                                        </td>
                                        <td>

                                            @Html.TextBox("txtSearchUser", null, new { @class = "form-control PPATtextbox" })
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="height:5px;">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table border="1" style="width:100%" class="tblRoundCorner">
                                    <tr>
                                        <td>
                                            Employee ID<br />
                                        </td>
                                        <td>
                                            <input type="hidden" id="hdnEmpId" name="hdnEmpId" value="0" />
                                            @Html.TextBox("txtEmpId", '0', new { @class = "form-control PPATtextbox", disabled = "disabled" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            First Name<span class="field-validation-valid field-validation-error" data-valmsg-for="txtempFirstName"
                                                            data-valmsg-replace="true">*</span><br />
                                        </td>
                                        <td>
                                            @Html.TextBox("txtempFirstName", null,
                                           new { @class = "form-control PPATtextbox", @data_val = "true", @data_val_required = " required" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Last Name<span class="field-validation-valid field-validation-error" data-valmsg-for="txtempLastName"
                                                           data-valmsg-replace="true">*</span><br />
                                        </td>
                                        <td>
                                            @Html.TextBox("txtempLastName", null,
                                           new { @class = "form-control PPATtextbox", @data_val = "true", @data_val_required = " required" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Mobile<span class="field-validation-valid field-validation-error" data-valmsg-for="txtempMobile"
                                                        data-valmsg-replace="true">*</span><br />
                                        </td>
                                        <td>
                                            @Html.TextBox("txtempMobile", null,
                                           new { maxlength = "10", @class = "form-control PPATtextbox", @data_val = "true", @data_val_required = " required" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Email
                                        </td>
                                        <td>
                                            @Html.TextBox("txtempEmail", null, new { @class = "form-control PPATtextbox" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Address
                                        </td>
                                        <td>
                                            @Html.TextBox("txtempAddress", null, new { @class = "form-control PPATtextbox" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            UserName<span class="field-validation-valid field-validation-error" data-valmsg-for="txtempUserName"
                                                          data-valmsg-replace="true">*</span>
                                        </td>
                                        <td>
                                            @Html.TextBox("txtempUserName", null,
                                           new { @class = "form-control PPATtextbox", @data_val = "true", @data_val_required = " required" })
                                            <div id="lblStatus" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Password<span class="field-validation-valid field-validation-error" data-valmsg-for="txtempPassword"
                                                          data-valmsg-replace="true">*</span>
                                        </td>
                                        <td>
                                            @Html.TextBox("txtempPassword", null,
                                           new { @class = "form-control PPATtextbox", @data_val = "true", @data_val_required = " required" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Roles<span class="field-validation-valid field-validation-error" data-valmsg-for="ddlRoles"
                                                       data-valmsg-replace="true">*</span>
                                        </td>
                                        <td>
                                            @Html.DropDownList("ddlRoles", (IEnumerable<SelectListItem>)Model.Roles, "Select",
                                           new { @class = "form-control PPATDropdownlist valid", @data_val = "true", @data_val_required = " required" })
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Appilcations<span id="spnApplications" class="field-validation-valid field-validation-error" data-valmsg-for="txtPSCode"
                                                              data-valmsg-replace="true">*</span><br />

                                        </td>
                                        <td align="center" valign="middle">
                                            <table>
                                                @foreach (var app in (IEnumerable<SelectListItem>)Model.EmpAssignedApps)
                                                {
                                                    var chkId = "chk_" + app.Value;
                                                    <tr>
                                                        <td>

                                                            <input id="@chkId" type="checkbox" name="@chkId" value="@app.Value" checked="@app.Selected" />
                                                        </td>
                                                        <td>
                                                            <label for="@app.Value">@app.Text</label>
                                                        </td>
                                                    </tr>
                                                }
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Active
                                        </td>
                                        <td>
                                            <input id="chkActive" type="checkbox" name="chkActive" value="1" checked="checked" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="height:5px;">
                                <div id="divMsg" style="color:red;">@ViewBag.dbMessage</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table border="1" style="width:100%" class="tblRoundCorner">
                                    <tr>
                                        <td colspan="2" align="center">
                                            <table id="tblButtons">
                                                <tr>
                                                    <td style="width:5px;"></td>
                                                    <td>
                                                        @*<button id="btnSave" name="btnSave" class="btn-sm">Save</button>*@
                                                        @*<input type="submit" name="btnSave" value="Save" formaction="SaveForm" formmethod="post" class="btn-sm" />*@
                                                        <input type="submit" id="btnSave" value="Save" class="btn btn-outline-success border-0" />
                                                    </td>
                                                    <td style="width:5px;"></td>
                                                    <td>
                                                        @*<button id="btnClear" name="btnClear" class="btn-sm">Clear</button>*@
                                                        @*<input type="submit" name="btnClear" value="Clear" formaction="ClearForm" formmethod="post" class="btn-sm" />*@
                                                        <input type="button" id="btnClear" value="Clear" class="btn btn-outline-success border-0 cancel" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>

                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td width="9px"></td>
            <td valign="top" style="margin-left:10px;" align="right">
                <table>
                    <tr>
                        <td>
                            @Html.DropDownList("ddlMainApps", (IEnumerable<SelectListItem>)ViewBag.ddlMainApps, "Select",
                                                   new
                                                       {
                                                           @class = "form-control valid PPATDropdownlist"
                                                       })
                        </td>
                        <td>
                            <a href="@Url.Action("DownloadExcelDocument", "Admin", new { id = "1" })">
                                <img src="~/Images/excel.jpg" style="width:20px;height:20px;" />
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

}