<table>
    <tbody>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>Measuring Application</td>
                        <td>@Html.DropDownList("ddlMeasuringApp", (IEnumerable<SelectListItem>)ViewBag.ddlMeasuringApp, "--Select One--")</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            State<br />
                            @Html.DropDownList("ddlStates", (IEnumerable<SelectListItem>)ViewBag.ddlStates, "--Select One--")
                        </td>
                        <td>
                            Parliament<br />
                            @Html.DropDownList("ddlParliament", ViewBag.ddlParliament as SelectList)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Assembly<br />
                            @Html.DropDownList("ddlAssembly", ViewBag.ddlAssembly as SelectList)
                        </td>
                        <td>
                            Mandal<br />
                            @Html.DropDownList("ddlMandal", ViewBag.ddlMandal as SelectList)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Village<br />
                            @Html.DropDownList("ddlVillage",ViewBag.ddlVillage as SelectList)
                        </td>
                        <td>
                            PS Name<br />
                            @Html.TextBox("txtPSName")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            PS Code<br />
                            @Html.TextBox("txtPSCode")
                        </td>
                        <td>
                            <button id="btnPSGo" name="btnPSGo">GO</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td></td>
                        
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>